<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Cloudy</title>

		<!-- Loading css files -->
		<!-- <link rel="stylesheet" href="css/theme_style.css"> -->
		<link rel="preload" href="css/theme_style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="css/theme_style.css"></noscript>


		<!--  <link rel="stylesheet" href="css/my_style.css"> -->
		<link rel="preload" href="css/my_style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="css/my_style.css"></noscript>

		<!--  <link rel="stylesheet" href="css/my_dark_style.css">-->
		<link rel="preload" href="css/my_dark_style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="css/my_dark_style.css"></noscript>

		<!--bootstrap dark theme-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css"/>
		<!--<link rel="preload" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css"></noscript>-->

		<!--font-->
		<!-- <link href="fonts/Satisfy.css" rel="stylesheet"> -->
		<link rel="preload" href="fonts/Satisfy.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="fonts/Satisfy.css"></noscript>

		<!--my js -->

		

		<!-- schema -->

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebPage",
				"name": "Cloudy il miglior servizio meteo italiano",
				"description": "ottimo servizio ideale per ottenere le info del meteo in pochissimo tempo. Coludy fornisce numerose informazioni sul meteo così che tu rimanga sempre super aggiornato sul meteo della tua zona",
				"publisher": {
					"@type": "CollegeOrUniversity",
					"name": "Luca Maccarini"
				},
				"license": "MIT"
			}
		</script>

		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "Product",
			  "aggregateRating": {
				"@type": "AggregateRating",
				"ratingValue": "5",
				"reviewCount": "112"
			  },
			  "description": "trova il meteo di qualsiasi città",
			  "name": "meteo",
			  "image": "",
			  "offers": {
				"@type": "Offer",
				"availability": "https://schema.org/InStock",
				"price": "0",
				"priceCurrency": "EUR"
			  },
			  "review": [
				{
				  "@type": "Review",
				  "author": "Ellie",
				  "datePublished": "2021-04-01",
				  "reviewBody": "Questo slendido sito mi fa semre risparmiare tempo per trovare il meteo delle città",
				  "name": "splendido sito!",
				  "reviewRating": {
					"@type": "Rating",
					"bestRating": "5",
					"ratingValue": "5",
					"worstRating": "1"
				  }
				},
				{
				  "@type": "Review",
				  "author": "Lucas",
				  "datePublished": "2022-03-25",
				  "reviewBody": "questo sito ha una grafica ed una veocità appagante",
				  "name": "soddisfatto",
				  "reviewRating": {
					"@type": "Rating",
					"bestRating": "5",
					"ratingValue": "5",
					"worstRating": "1"
				  }
				}
			  ]
			}
		</script>
		
	</head>


	<body class="bootstrap">	  
		<script src="js/white_dark_theme_loader.js"></script>
	
		<nav class="navbar navbar-expand-lg navbar-light" id="mynav">
			<div class="container">
				
				<div class="d-flex align-items-center col-6">
					<img data-src="/images/logo.svg" src="data:," id="logo" height="70" width="70" alt="logo cloudy">
					
					<div class="align-self-center d-none d-sm-block" id="logo-name-div"><h3 id="site-title">Cloudy</h3></div>
					
					
					<div class="col-sm-2 col-4" id="dark-light-mode-div">
						<!--inserire l'element con un javascript worker-->
						<script src="js/white_dark_theme_changer.js" async></script>
					</div>
				
				</div>

				
				<!--
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse flex-row-reverse nav-bar-div" id="navbarNav">
					<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled">Disabled</a>
					</li>
					</ul>
				</div>
				-->
				
			</div>
		</nav>
		
		
		<div class="header-background-image" data-background-image="/images/new_york_skyline_high.jpg">

			<div class="hero">
				<div class="container">
					<div class="find-location">
						<input type="text" id="search-bar" placeholder="Search your location...">
						<input type="button" id="search-button" value="Search">
					</div>

				</div>
			</div>
		</div>

	
		<div class="container" id="forecast-external-container">
			<div class="forecast-container no-visibility" id="forecast-container">
				<div class="today forecast">
					<div class="forecast-header">
						<div class="day">day</div>
						<div class="date">date</div>
					</div> <!-- .forecast-header -->
					<div class="forecast-content">
						<div class="location">location</div>

						<div class="forecast-icon">
							<img class="forecast-icon-image" width="59" height="47" src="data:,">
						</div>

						<div class="degree">
							<div class="num">num</div>
							<div class="forecast-icon">
								<img class="forecast-icon-image show_after_load" width="93" height="64" src="data:,">
							</div>	
						</div>

						<p class="info_temp">temperatura media</p>
					</div>
				</div>
				
				<div class="forecast">
					<div class="forecast-header">
						<div class="day"></div>
						<div class="date"></div>
					</div> <!-- .forecast-header -->
					<div class="forecast-content">
						<div class="location"></div>
						
						<div class="forecast-icon">
							<img class="forecast-icon-image show_after_load" width="59" height="47" src="data:,">
						</div>
						
						
						<div class="degree">
							<div class="num"></div>
							<div class="forecast-icon">
								<img class="forecast-icon-image" width="93" height="64" src="data:,">
							</div>
						</div>

						<p class="info_temp">Temperatura media (tra le ore 8:00 - 20:00)</p>
					</div>
				</div>
				<div class="forecast">
					<div class="forecast-header">
						<div class="day"></div>
						<div class="date"></div>
					</div> <!-- .forecast-header -->
					<div class="forecast-content">
						<div class="location"></div>
						<div class="forecast-icon">
							<img class="forecast-icon-image show_after_load" width="59" height="47" src="data:,">
						</div>
						<div class="degree">
							<div class="num"></div>
							<div class="forecast-icon">
								<img class="forecast-icon-image" width="93" height="64" src="data:,">
							</div>
						</div>
						<p class="info_temp">Temperatura media (tra le ore 8:00 - 20:00)</p>
					</div>
				</div>
				<div class="forecast">
					<div class="forecast-header">
						<div class="day"></div>
						<div class="date"></div>
					</div> <!-- .forecast-header -->
					<div class="forecast-content">
						<div class="location"></div>
						<div class="forecast-icon">
							<img class="forecast-icon-image show_after_load" width="59" height="47" src="data:,">
						</div>
						<div class="degree">
							<div class="num"></div>
							<div class="forecast-icon">
								<img class="forecast-icon-image" width="93" height="64" src="data:,">
							</div>
						</div>
						<p class="info_temp">Temperatura media (tra le ore 8:00 - 20:00)</p>
					</div>
				</div>
				<div class="forecast">
					<div class="forecast-header">
						<div class="day"></div>
						<div class="date"></div>
					</div> <!-- .forecast-header -->
					<div class="forecast-content">
						<div class="location"></div>
						<div class="forecast-icon">
							<img class="forecast-icon-image show_after_load" width="59" height="47" src="data:,">
						</div>
						<div class="degree">
							<div class="num"></div>
							<div class="forecast-icon">
								<img class="forecast-icon-image" width="93" height="64" src="data:,">
							</div>
						</div>
						<p class="info_temp">Temperatura media (tra le ore 8:00 - 20:00)</p>
					</div>
				</div>
			</div>
		</div>

		<main>
			<div class="container">
			
				
				<div class="row add-col-padding no-display" id="div-for-geolocation-denied">
					<div class="col-md-3 col-12 offset-md-1" id="div-icon-geolocation">
						<img width="93" height="64" src="images/icons/geolocation.svg">	
					</div>
					<div class="col-md-6 col-12" id="div-text-geolocation">
						<h2>Sei pronto ad utilizzare il nostro servizio?</h2>
						<h2>Prova a cercare una città</h2>
						<p id="small-geolocation">Non ci hai autorizzato a localizzarti. Devi sapere che concedendo l'autorizzazione alla geolocalizzazione la prossima volta che tornerai sul nostro servizio riceverai automaticamente il meteo della tua posizione</p>
					</div>
					
				</div>

				<div class="row add-col-padding">
					<h1 class="no-visibility" id="titolo_tabella">Dati del giorno</h1>
				</div>
					
				<div class="row add-col-padding" id="row-tabella_dati">
					<div class="table-responsive-lg col-12 no-padding no-visibility" id="div-tabella_dati">
						<table class="table table-borderless" id="tabella_dati">
							<thead>
								<tr>
									<th class="text-nowrap" >Orario</th>
									<th class="text-nowrap">Temperatura °C</th>
									<th class="text-nowrap">Percepita °C</th>
									<th class="text-nowrap">Minima °C</th>
									<th class="text-nowrap">Massima °C</th>
									<th class="text-nowrap">Icona</th>
									<th class="text-nowrap">Descrizione</th>
									<th class="text-nowrap">Umidità %</th>
									<th class="text-nowrap">Vento m/s</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
		
				
			</div>

			<p id="out"></p>

		</main>
		
		<footer class="site-footer">
			<div class="container">		
				<p>Copyright 2022 Cloudy. Designed by Luca Maccarini. All rights reserved</p>
			</div>
		</footer> 

		<!--mio js -->
		<script src="js/image_lazy_loader_script.js" defer></script>
		<script src="js/display_weather_data.js" defer></script>
		<script src="js/get_weather.js" defer></script>
		<script src="js/geolocation.js" defer></script>
		<script src="js/search_button.js" defer></script>
		

		<!--js di bootstrap-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	
		
	</body>

</html>