html, 
body {
    height: 100%;
    background-color: #f5f8ff;
}

body{
    padding-bottom: 340px;
}

main { 
    margin-top: 27px;
}

@media screen and (max-width: 768px) {

    body{
        padding-bottom: 405px;
    }

}